#island{
  border: 6.8px solid #2a3f55;
  border-radius: 38px;
  width: 660px;
  background: #0a1624;
  margin: 0 auto;
  padding: 50px solid #baafa5;
  height: 2435px;
}
title {
  background-color: linear-gradient(to right, green, blue, yellow);
  -webkit-background-clip: text;
  color: transparent;
}
